<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="public/common/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />


	<link rel="stylesheet" href="public/common/style/styles.css" />
	<title>Eccentric Shop</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script>

		$(document).ready(function(){

			$('#hide').click(function(){

				$('#hh1').hide(1000);
			});


		});
	</script>

	<nav class="nav">
		<div class="wrapper container">
			<div class="logo"><a href="/"><img src="public/common/images/logo_transparent.png" width="180" class="logopng"></a></div>
			<ul class="nav-list">
				<div class="top">
					<label for="" class="btn close-btn"><i class="fas fa-times"></i></label>
				</div>
				<li><a href="/">Home</a></li>
				<li><a href="/products">Products</a></li>
				<li>
					<a href="" class="desktop-item">Shop <span><i class="fas fa-chevron-down"></i></span></a>
					<input type="checkbox" id="showMega" />
					<label for="showMega" class="mobile-item"> Shop <span><i class="fas fa-chevron-down"></i></span></label>
					<div class="mega-box">
						<div class="content">
							<div class="row">
								<header>Shopping now</header>
								<ul class="mega-links">
									<li><a href="#new_collection">Order now</a></li>
									<li><a href="#new_collection">View products</a></li>
								</ul>
							</div>
							<div class="row">
								<header>Filters</header>
								<ul class="mega-links">
									<li><a href="#our_collection">Try now</a></li>
									<li><a href="#our_collection">2021 Trends</a></li>
								</ul>
							</div>
							<div class="row">
								<header>Sales</header>
								<ul class="mega-links">
									<li><a href="#new_collection">Sales for now</a></li>
									<li><a href="#new_collection">Hit the bomb</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li><a href="#">Blog</a></li>
				<li>
					<a href="" class="desktop-item">Account <span><i class="fas fa-chevron-down"></i></span></a>
					<input type="checkbox" id="showdrop1" />
					<label for="showdrop1" class="mobile-item">Account <span><i class="fas fa-chevron-down"></i></span></label>
					<ul class="drop-menu1">
						<% if (userId != undefined){ %>
							<a><%= firstName + " " + lastName %></a>
							<li>

								<a href="/basket">My Basket</a>
								<a href="/myOrders">My Orders</a>
								<a href="/logout">Logout</a>
								<%if(userId == '60cca4441577872668a5ac5e'){%>
									<a href="/adminPanel">Admin Panel</a>
								<%}%>
							</li>
						<% }else{ %>
							<a href="/signIn">Sign In</a>
							<a href="/signUp">Sign Up</a>
						<% } %>
					</ul>
				</li>

				<li>
					<a href="" class="desktop-item">Page <span><i class="fas fa-chevron-down"></i></span></a>
					<input type="checkbox" id="showdrop2" />
					<label for="showdrop2" class="mobile-item">Page <span><i class="fas fa-chevron-down"></i></span></label>
					<ul class="drop-menu2">
						<li><a href="#footer">About</a></li>
						<li><a href="#footer">Contact</a></li>
						<li><a href="#footer">FAQ</a></li>
					</ul>
				</li>
			</ul>
			<label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
		</div>
	</nav>
<section class="section products">
	<div class="products-layout container">
		<div class="col-1-of-4">
			<div>
				<div class="block-title">
					<h3>Category</h3>
				</div>

				<ul class="block-content">
					<li>
						<input data-f="shoes" type="checkbox" value="shoes" name="settings" id="" checked="">
						<label for="">
							<span>Shoes</span>
						</label>
					</li>

					<li>
						<input data-f="bags" type="checkbox" value="bags" name="settings" id="" checked="">
						<label for="">
							<span>Bags</span>
						</label>
					</li>

					<li>
						<input data-f="accessories" type="checkbox" value="accessories" name="settings" id="" checked="">
						<label for="">
							<span> Accessories</span>
						</label>
					</li>

					<li>
						<input data-f="тiр" type="checkbox" value="тiр" name="settings" id="" checked="">
						<label for="">
							<span>тiр</span>
						</label>
					</li>

                  <li>
                    <input data-f="dress" type="checkbox" value="dress" name="settings" id="" checked="">
                    <label for="">
                      <span>Dress</span>
                    </label>
                  </li>
				</ul>
			</div>

			<div>
				<div class="block-title">
					<h3>Brands</h3>
				</div>

				<ul class="block-content">
					<li>
						<input data-f="gucci" type="checkbox" value="gucci" name="settings" id="" checked="">
						<label for="">
							<span>Gucci</span>
						</label>
					</li>

					<li>
						<input data-f="burberry" type="checkbox" value="burberry" name="settings" id="" checked="">
						<label for="">
							<span>Burberry</span>
						</label>
					</li>

					<li>
						<input data-f="valentino" type="checkbox" value="valentino" name="settings" id="" checked="">
						<label for="">
							<span>Valentino</span>
						</label>
					</li>

					<li>
						<input data-f="dolce" type="checkbox" value="dolce & gabbana" name="settings" id="" checked="">
						<label for="">
							<span>Dolce & Gabbana</span>
						</label>
					</li>

					<li>
						<input data-f="hogan" type="checkbox" value="hogan" name="settings" id="" checked="">
						<label for="">
							<span>Hogan</span>
						</label>
					</li>

					<li>
						<input data-f="moreshci" type="checkbox" value="moreschi" name="settings" id="" checked="">
						<label for="">
							<span>Moreschi</span>
						</label>
					</li>

					<li>
						<input data-f="givenchy" type="checkbox" value="givenchy" name="settings" id="" checked="">
						<label for="">
							<span>Givenchy</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-3-of-4">
			<div class="product-layout">
				<% for(let i = 0; i < products.length; i++){ %>
						<div class="product <%= products[i].brand + " " + products[i].category %>">
							<div class="img-container">
								<img style="height: 290px;" src="<%= products[i].image %>" alt="" />
								<a href="">
									<div class="addCart">
										<span><a href=""><i class="fas fa-shopping-cart"></i></a></span>
									</div></a>

								<ul class="side-icons">
									<span><a href=""><i class="fas fa-search"></i></a></span>
									<span><a href=""><i class="far fa-heart"></i></a></span>
									<span><a href=""><i class="fas fa-sliders-h"></i></a></span>
								</ul>
							</div>
							<div class="bottom">
								<a href="/productPage/<%= products[i]._id%>"><%= products[i].name%></a>
								<div class="price">
									<span>$<%= products[i].price%></span>
								</div>
							</div>
						</div>
					
              <%}%>
			</div>
		</div>

		</div>
	</div>
</section>
<div style="width: 80%;display: block;margin: 0 auto;" class="container">
	<a style="background-color: #0075FF;display:inline-block;padding: 10px 20px;color: #ffffff;border-radius: 3px;width: 100%;text-align: center;margin-bottom: 50px;" href="/addProduct" class="addProduct">Add product</a>
</div>
<script src="public/common/script/sript.js"></script>
</body>
</html>